
.header-container {
    -fx-padding: 15;
    -fx-background-color: #333333;
}

.app-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.user-label {
    -fx-font-size: 14px;
    -fx-text-fill: #cccccc;
}

.main-content {
    -fx-padding: 40;
    -fx-background-color: #f4f4f4;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
    -fx-padding: 20;
}

.card-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.card-subtitle {
    -fx-text-fill: #777777;
    -fx-font-size: 12px;
}


.btn {
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-padding: 8 20 8 20;
    -fx-font-weight: bold;
}

.btn-secondary {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.btn-secondary:hover {
    -fx-background-color: #555555;
}